//- {
//-   dropdownList: {
//-     key: value
//-   },
//-   mod: {
//-     clear: boolean,
//-     apply: boolean
//-   }
//- }

include ../selector/selector.pug

mixin dropdown(dropdownList, mod)
  if (typeof(dropdownList) !== 'undefined')
    ul.dropdown
      - var list = dropdownList;
      each item, index in list
        li.dropdown__item
          span.dropdown__title= index        
          .dropdown__choose
            +selector({classes: ['selector--decrement']})
            span.dropdown__value= item
            +selector({classes: ['selector--increment']})
      if (typeof(mod) !== 'undefined')
        if mod.clear || mod.apply
          li(class= ['dropdown__item'])
            if mod.clear
              input(class='dropdown__clear' type='reset' value='Очистить') 
            if mod.apply
              input(class='dropdown__apply' type='submit' value='Применить')