.dropdown {
  border-top: 1px solid $darkshade-50;
  margin: 0;
  margin-top: -1px;
  padding: 7px 7px 7px 15px;
  background-color: $white;
  border: 1px solid $darkshade-25;
  border-radius: 0 0 $radius $radius;
  display: none;
  position: absolute;
  width: 100%;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-top: 7px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__title,
  &__value,
  &__clear,
  &__apply {
    @include title-h3;
  }
  &__choose {
    display: flex;
    align-items: center;
  }
  &__value {
    display: flex;
    justify-content: center;
    width: 32px;
  }
  &__clear,
  &__apply {
    outline: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 6px;
  }
  &__clear {
    color: $darkshade-50;
  }
  &__apply {
    color: $purple;
    margin-left: auto;
  }
  &--expanded {
    display: block;
    border-color: $darkshade-50;
    z-index: 10;
  }
}