.dropdown-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  margin-top: -44px;
  right: 0;
  &--expand {
    transform: translate(10px, 10px);
    &:hover {
      cursor: pointer;
    }
  }
}