.wrapper-1
  include ../../components/text-field/text-field.pug
  +textfield("Text Field", "default", "textfield-default", "Email", "", "Default")
  +textfield("Text Field", "hover-focus", "textfield-hover-focus", "This is pretty awesome", "", "hover / focus")
  +textfield("Masked Text Field", "masked", "textfield-masked", "ДД.ММ.ГГГГ", "", "Default")