- var inputfield = 'input-field';
- var inputblock = 'input-block';
-
  var iterate = function(array){    
    for (var i = 0; i < array.length; i++){
      console.log(i);
    }    
  };

.wrapper-1
  include ../../components/input-field/input-field.pug
  //- Input types: textfield, dropdown, date-dropdown, subscribe
  //- Если type: dropdown, то передаем как минимум 3 аргумента
  include ../../components/checkbox-list/checkbox-list.pug
  include ../../components/bullet-list/bullet-list.pug
  include ../../components/radio-list/radio-list.pug
  
  include ./objects/textfields.pug
  include ./objects/dropdowns.pug
  include ./objects/subscribe.pug

  +input-field(textfields.textfield_default)
  +input-field(textfields.textfield_hover)
  +input-field(textfields.textfield_masked)
  +input-field(dropdown_default.opt, dropdown_default.dropdownList, dropdown_default.mod)
  +input-field(dropdown_date)
  +input-field(dropdown_filter.opt, dropdown_filter.dropdownList, dropdown_filter.mod)
  +input-field(subscribe)
  //- +checkbox-list(
    {expandable: true, listTitle: 'Expandable Checkbox List', listClasses: ['col-xs']},
    [
      {checkboxTitle: 'Завтрак'}, 
      {checkboxTitle: 'Письменный стол', checked: true},
      {checkboxTitle: 'Стул для кормления', checked: true},
      {checkboxTitle: 'Кроватка', checked: true},
      {checkboxTitle: 'Телевизор'}, 
      {checkboxTitle: 'Шампунь'}, 
      {checkboxTitle: 'Телевизор'}, 
      {checkboxTitle: 'Шампунь'}
    ])    
  //- +checkbox-list(
    {listTitle: 'Checkbox Buttons', listClasses: ['col-xs']},
    [
      {checkboxTitle: 'Можно курить'}, 
      {checkboxTitle: 'Можно с питомцами', checked: true},
      {checkboxTitle: 'Можно пригласить гостей (до 10 человек)'}
    ])
  //- +checkbox-list(
    {listClasses: ['col-xs']},
    [
      {checkboxTitle: 'Можно курить'}, 
      {checkboxTitle: 'Можно с питомцами', checked: true},
      {checkboxTitle: 'Можно пригласить гостей (до 10 человек)'}
    ])
  //- +checkbox-list(
    {listTitle: 'Rich Checkbox Buttons', listClasses: ['col-xs']},
    [
      {checkboxTitle: 'Широкий коридор', checkboxSubtitle: 'Ширина коридоров в номере не менее 91 см'}, 
      {checkboxTitle: 'Помощник для инвалидов', checkboxSubtitle: 'На 1 этаже вас встретит специалист и проводит до номера', checked: true}
    ])
  //- +bullet-list(
    {listTitle: 'Bullet list', listClasses: ['col-xs']},
    [
      {bulletTitle: 'Нельзя с питомцами'},
      {bulletTitle: 'Без вечеринок и мероприятий'},
      {bulletTitle: 'Время прибытия — после 13:00, а выезд до 12:00'}
    ])
  //- +radio-list(
    {listTitle: 'Radio buttons', listClasses: ['col-xs']},
    [
      {radioTitle: 'Мужчина', radioValue: 'male' , radioName: 'sex', checked: true},
      {radioTitle: 'Женщина', radioValue: 'female' , radioName: 'sex'}
    ])
  include ../../components/toggle/toggle.pug
  //- +toggle(
    {},
    {toggleTitle: 'Получать спецпредложения',
    toggleId: 'special',
    toggleValue: 'special',
    toggleName: 'special',
    checked: true
    })
  //- +toggle(
    {},
    {toggleTitle: 'Получать спецпредложения',
    toggleId: 'special-1',
    toggleValue: 'special-1',
    toggleName: 'special-1'
    })