include ../../templates/_colors-blocks

block colors-and-type
  section.colors-and-type
    .container
      .colors-list
        +block-color('dark100', 'Dark Shade 100%', '#1F2041')
        +block-color('dark75', 'Dark Shade 75%', '#1F2041')
        +block-color('dark50', 'Dark Shade 50%', '#1F2041')
        +block-color('dark25', 'Dark Shade 25%', '#1F2041')
        +block-color('dark5', 'Dark Shade 5%', '#1F2041')
        +block-color('purple', 'Purple', '#BC9CFF')
        +block-color('green', 'Green', '#6FCF97')
      .fonts-list