mixin block-color(color, title, colorhex)
  .block-color
    .block-color__instance(class= 'block-color--' + color)
    .block-color__description
      h2.block-color__title= title
      span.block-color__hex= colorhex