$darkshade-100: rgba(31, 32, 65, 1);
$darkshade-75: rgba(31, 32, 65, 0.75);
$darkshade-50: rgba(31, 32, 65, 0.5);
$darkshade-25: rgba(31, 32, 65, 0.25);
$darkshade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$white: #FFFFFF;