-
  var subscribe = {
    title: 'Subscription text field', 
    type: 'subscribe',
    name: 'subscription-text-field', 
    id: 'subscription-text-field', 
    hint: '',
    inputType: 'email', 
    placeholder: 'Email', 
    inputBlockClasses: ['col-xs'],
    inputBlockLabelClasses: [inputblock + '__label'],
    inputFieldInputClasses: [inputfield + '__input']
  }