mixin checkbox-list(options, checkbox)
  if (typeof(options) !== null && typeof(checkbox) !== undefined)
    if options.listTitle
      h3.checkbox-list__title #{options.listTitle}
    ul.checkbox-list      
      each val, index in checkbox
        li.checkbox-item
          label(class=['checkbox-item__label'] for= val.checkboxId) #{val.checkboxTitle}
            if (val.checked)
              input(type='checkbox' class= ['checkbox-item__input'] value= val.checkboxValue id= val.checkboxId name= val.checkboxName checked)
            else  
              input(type='checkbox' class= ['checkbox-item__input'] value= val.checkboxValue id= val.checkboxId name= val.checkboxName)
            span(class='checkbox-item__checkmark') 