.checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__title {
    position: relative;
    margin: 15px 0 18px;
    &--expandable {
      padding-right: 44px;
      // &::after {
      //   content: "";
      //   cursor: pointer;
      //   width: 24px;
      //   height: 24px;
      //   background: url('./misc/images/expand_more.svg') no-repeat center top;
      // }
    }
  }
}