.bullet-item {
  margin-top: 10px;
  display: flex;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $darkshade-25;
    border-radius: 50%;
    line-height: 24px;
    position: absolute;
    top: 7px;
  }
  &__title {
    padding-left: 21px;
  }
}