$radius: 4px;
.input-field {
  position: relative;
  border: 1px solid $darkshade-25;
  border-radius: 4px;
  &__input {
    width: 100%;
    padding: 13px 15px;
    border: 0;
    border-radius: $radius;
    color: $darkshade-75;
    font-size: 14px;
    &::placeholder {
      color: $darkshade-25;
    }
    &:focus {
      outline: none;
    }
    &--dropdown {
      padding-right: 44px;
    }
  }
  &--date {
    width: 150px;
  }
  &:hover,
  &:focus,
  &--focused {
    border-color: $darkshade-50;
    outline: none;
  }
}