$checkbox-size: 20px;
.checkbox-item {
  display: flex;
  margin-top: 10px;
  list-style: none;
  &:first-child {
    margin-top: 0;
  }
  &__label {
    position: relative;
    color: $darkshade-50;
    line-height: 18px;
    padding-left: $checkbox-size + 10px;
    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked~.checkbox-item__checkmark {
      border-color: $purple;
      background: url('./misc/images/checked.svg') no-repeat 50% 40%;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 18px;
    &--rich {
      font-weight: 700;
      color: $darkshade-75;
    }
  }
  &__subtitle {
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-top: 5px;
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 1px solid $darkshade-25;
    border-radius: 4px;
    // transition: all 0.5 ease-in-out;
  }
}