.icons {
  &__input {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    right: 0;
  }
  &--dropdown,
  &--arrow {
    transform: translate(10px, 10px);
    &:hover {
      cursor: pointer;
    }
  }
  &--purple {
    color: $purple;
  }
}