.icons {
  &--dropdown,
  &--subscribe {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10px, 10px);
    &:hover {
      cursor: pointer;
    }
    &:hover~.input-field__input {
      border-color: $darkshade-50;
    }
  }
  &--subscribe {
    color: $purple;
  }
  &--expandable {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-10px);
    line-height: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &--expanded {
    transform: translateX(-10px) rotate(-180deg);
  }
}