$fonts-path: './misc/fonts';
@import '../styles/colors';
@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts-path}/Montserrat-Bold.woff') format('woff'),
  url('#{$fonts-path}/Montserrat-Bold.ttf') format('truetype'),
  url('#{$fonts-path}/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts-path}/Montserrat-Regular.woff') format('woff'),
  url('#{$fonts-path}/Montserrat-Regular.ttf') format('truetype'),
  url('#{$fonts-path}/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$fonts-path}/Quicksand-Bold.woff') format('woff'),
  url('#{$fonts-path}/Quicksand-Bold.ttf') format('truetype'),
  url('#{$fonts-path}/Quicksand-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('#{$fonts-path}/Quicksand-Regular.woff') format('woff'),
  url('#{$fonts-path}/Quicksand-Regular.ttf') format('truetype'),
  url('#{$fonts-path}/Quicksand-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('#{$fonts-path}/OpenSans-Bold.woff') format('woff'),
  url('#{$fonts-path}/OpenSans-Bold.ttf') format('truetype'),
  url('#{$fonts-path}/OpenSans-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('#{$fonts-path}/OpenSans-Regular.woff') format('woff'),
  url('#{$fonts-path}/OpenSans-Regular.ttf') format('truetype'),
  url('#{$fonts-path}/OpenSans-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}